---
import Layout from "../layouts/Layout.astro";
import "./index.css";
import "../fonts.css";
import MakeProgress from "../scripts/MakeProgress.astro";
import LoadImages from "../scripts/LoadImages.astro";
import ScrollAnimation from "../scripts/ScrollAnimation.astro";
---

<Layout>
  <div class="body-content">
    <div class="header">
      <div class="logo-container">
        <div>M.FISHER</div><div class="percent">00%</div>
      </div>
      <div class="right-container">
        <div>CART (0)</div>
        <div>MENU</div>
      </div>
    </div>
    <div class="carousel">
      <div class="carousel-1"></div>
      <div class="carousel-2"></div>
      <div class="carousel-3"></div>
    </div>

    <div class="footer">
      <div class="left-container">
        <div class="address">106 S. St. <br /> New York City</div>
        <div class="fraction">01/10</div>
      </div>
      <div class="progress"></div>
      <div class="right-container">
        <div>Book Appointment</div>
        <div>Art Objects</div>
      </div>
    </div>
  </div>
  <MakeProgress client:load />
  <LoadImages client:load />
  <ScrollAnimation client:load />
</Layout>
