@font-face {
  font-family: "Knockout";
  src: url("../public/knockout.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kormelink";
  src: url("../public/kormelink.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
